
body { font-size: 120%; }
.pxfont { font-size: 16px; }
.ptfont { font-size: 16pt; }
.emfont { font-size: 1em; }

.pxbox {
  border: 1px solid #ff0000;
  padding: 10px;
  margin: 20px;
}

.embox {
  border: 1px solid #ff0000;
  padding: 1em;
  margin: 2em;
}

.percentbox {
  border: 1px solid #ff0000;
  padding: 5%;
  margin: 10%;
}    

h1{
  border-bottom: 1px solid #000000;
  margin-bottom: 60px;
}

nav ul {
  list-style-type: circle; /* none, disc, circle, square */
  margin:0;
  padding: 0;
}

nav li {
  padding: 0px;
  margin: 0px;
  width: 150px;
  background-color: #cc0000;
  color: #ffffff;
}

nav li a {
  color: #ffffff;
  padding: 10px;
  border: 1px solid #ffffff;
  display: block;
  text-decoration: none;
  background-image: linear-gradient(to bottom, #136ef6, #165fe4, #1651d2, #1543c0, #1335ae);
}

nav li a:hover {
  background-image: linear-gradient(to top, #136ef6, #165fe4, #1651d2, #1543c0, #1335ae);
}

.pixelwidth {
  border: 1px solid #ff0000;
  width: 100px;
}

.percentwidth {
  border: 1px solid #ff0000;
  width: 50%;
}

.blockimg {
  display: block;
}

.bordertop {
  border-top: 1px solid #ff0000;
}

.borderbottom {
  border-bottom: 1px solid #00ff00;
  padding-bottom: 20px;
}

.borderright {
  border-right: 1px solid #0000ff;
}

.borderleft {
  border-left: 1px solid #ff00ff;
}

.rainbowborder {
  border-top: 5px solid #ff0000;
  border-bottom: 5px solid #00ff00;
  border-right: 5px solid #0000ff;
  border-left: 5px solid #ff00ff;
